{% extends 'base.html' %}
{% load static %}

{% block page_content %}
<h1 class="jumbotron text-center">{{ project.title }}</h1>
<div class ="row">
    <div class="col-md-8">
        <img src="{% static project.image %}" alt="" width="100%">

    </div>
    <div class="col-md-4">
        <h5>About the Place:</h5>
        <p>{{project.description}}</p>
        <br>
        <h5>Location:</h5>
        <p>{{ project.technology }}</p>
    </div>
</div>
<hr>
<div>
 <h3>Leave a comment:</h3>
    <form action="/{{ project.pk}}/" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.author }}
        </div>
        <div class="form-group">
            {{ form.body }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div class ="pagination">
        {% if comments.has_previous %}
        <a class = "pagingation-action" href="?page=1">
            <i class="fas fa-angle-double-left"></a></i>
        </a>
        <a class="pagination-action" href="?page="{{ comments.previous_page.number}}">
            <i class ="fas fa-angle-left"></i>

        </a>
        {% endif %}
        {% for num in comments.paginator.page_range %}
        {% if comments.number == num %}
        <strong>{{ num }}</strong>
        {% elif num > comments.number|add:'-3' and num < comments.number|add:'+3' %}
        <a href="?page={{num}}">{{num}}</a>
        {% endif %}
        {% endfor %}
        {% if comments.has_next %}
        <a href="?page ={{ comments.next_page_number }}">></a>
        <a href="?page={{comments.paginator.num_pages}}">>></a>
{% endif %}
    </div>
    <h3>Comments:</h3>
    {% for comment in comments %}
    <p>
        On {{comment.created_on.date }}&nbsp;
        <b>{{ comment.author }}</b> wrote:
    </p>
    <p>{{ comment.body }}</p>
    <hr>
{% endfor %}
    <hr>

</div>
{% endblock %}
